.body {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.95);
	color: wheat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.body * {
	color: wheat;
	font-family: Rubik, Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
}
div {
	border: 1px solid wheat;
}
